.footer
  .footer--container
    .footer--item
      a.footer--link(href="") HOMEPAGE
      span.divider |
      a.footer--link(href="") ALGEMENE VOORWAARDEN
      span.divider |
      a.footer--link(href="") PRIVACY
    .footer--item
      .footer--signature
        .signature--text powered by
        .signature--image
          img(src="img/Logo_ekomi.png", alt="Ekomi Logo")
