.navigation--container
  ul.navigation
    li.navigation--item.done
      .navigation--item-fill
      .navigation--item--circle
        span 1
      .navigation--item--text Beoordeling Pon Equipment
    li.navigation--item.active
      .navigation--item-fill
      .navigation--item--circle
        span 2
      .navigation--item--text Bedankt
