.radio--container
  .radio--item
    input.radio--input(type="radio", value="1", name="radio", id="radio_1")
    label.radio--label(for="radio_1")
      span.radio--mock
      span.radio--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  .radio--item
    input.radio--input(type="radio", value="2", name="radio", id="radio_2")
    label.radio--label(for="radio_2")
      span.radio--mock
      span.radio--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  .radio--item
    input.radio--input(type="radio", value="3", name="radio", id="radio_3")
    label.radio--label(for="radio_3")
      span.radio--mock
      span.radio--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
