.star--container
  .star--container--image
    input.star--radio#bewertung_1(type='radio', name='bewertungStar', value='1')
    label.star--image(for='bewertung_1')
    input.star--radio#bewertung_2(type='radio', name='bewertungStar', value='2')
    label.star--image(for='bewertung_2')
    input.star--radio#bewertung_3(type='radio', name='bewertungStar', value='3')
    label.star--image(for='bewertung_3')
    input.star--radio#bewertung_4(type='radio', name='bewertungStar', value='4')
    label.star--image(for='bewertung_4')
    input.star--radio#bewertung_5(type='radio', name='bewertungStar', value='5')
    label.star--image(for='bewertung_5')
    input.bewertung#bewertung(type='hidden', value='0', name='bewertung')
  .star--container--text
    span.changeable-text 0
    span /5
