.section
  .section--item.full
    .section--item--header Bedankt voor uw tijd!
    .section--item-help-text 
      | Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. 
      br 
      br 
      | eKomi - The Feedback Company
  .section--item.full
    .ty-image--container
      .ty--item
        a.ty--link(href="http://www.pon-cat.com/equipment/nl/services/onderhouds-contracten/emsolutions", target="_blank")
          img.ty--image(src="img/tyImage.png", alt="EMSolutions")
