.checkbox--container {
  width: 100%;

  .checkbox--item {
    margin-bottom: 30px;
    position: relative;

    .checkbox--input {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

.checkbox--label {

  .checkbox--mock,
  .checkbox--text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .checkbox--mock {
    background-color: $color-white;
    border: 1px solid $color-grey-border-hp--2;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    margin-right: 14px;
    max-width: 50px;
  }

  .checkbox--text {
    box-sizing: border-box;
    color: $color-text-placeholder;
    cursor: pointer;
    font-size: 1.3333333333333em;
    max-width: calc(100% - 70px);
  }
}

.checkbox--input:checked + .checkbox--label {

  .checkbox--mock {
    background-clip: padding-box;
    background-color: $color-yellow-light-cat;
    background-image: url('../../img/check.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border: 0;
  }
}

@media all and (min-width: $tablet-breakdown) {
  .checkbox--container {
    display: table;
    width: 100%;

    .checkbox--item {
      display: block;
      float: left;
      margin-bottom: 15px;
      width: 33.3333%;
    }
  }

  .checkbox--label {

    .checkbox--mock {
      height: 32px;
      width: 32px;
    }

    .checkbox--text {
      color: $color-text-header;
      padding-right: 10px;
    }
  }
}
