.email--container {
  border: 1px solid $color-yellow-cat;
  display: none;
  margin-top: 20px;
  position: relative;

  .email--container--header {
    background-color: $color-white;
    box-sizing: border-box;
    display: block;
    font-family: $font-family-bold;
    font-size: 1.25em;
    font-weight: 700;
    left: 50%;
    padding-left: 31px;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    width: 95%;
    z-index: 2;

    &::before {
      border: 1px solid $color-yellow-cat;
      border-radius: 50%;
      color: $color-yellow-cat;
      content: '!';
      display: block;
      font-family: $font-family-bold;
      font-size: 22px;
      font-weight: 700;
      height: 24px;
      left: 0;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 24px;
    }
  }

  .email--container-content {
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 9px 15px;

    .email--footer {
      color: $color-text-placeholder;
      font-family: $font-family-light;
      font-size: 1.33333333333em;
      font-weight: 300;
      margin-top: 21px;
    }
  }
}

.email--input-part {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  .email--input-label {
    display: none;
  }

  .email--input {
    appearance: none;
    background-color: $color-white;
    border: 1px solid $color-grey-border-hp--4;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-text-main;
    font-family: $font-family-base;
    font-size: 1.125em;
    outline: 0;
    padding: 20px 9px;
    width: 100%;

    &::placeholder {
      color: $color-text-placeholder;
      font-family: $font-family-light;
      font-size: 1.125em;
      font-weight: 300;
    }
  }
}

@media all and (min-width: $tablet-breakdown) {
  .email--container {
    margin-top: 36px;

    .email--container--header {
      font-size: 1.5em;
      padding-left: 40px;

      &::before {
        font-size: 24px;
        height: 32px;
        line-height: 32px;
        top: -5px;
        width: 32px;
      }
    }

    .email--container-content {
      margin-top: 76px;
      padding: 0 50px 22px;

      .email--footer {
        margin-top: 68px;
      }
    }
  }

  .email--input-part {
    overflow: visible;
    white-space: nowrap;

    .email--input-label,
    .email--input {
      display: inline-block;
      vertical-align: middle;
    }

    .email--input-label {
      color: $color-text-main;
      font-family: $font-family-light;
      font-size: 1.333333em;
      font-weight: 300;
      width: calc(100% - 558px);
    }

    .email--input {
      margin-left: 30px;
      max-width: 528px;

      &::placeholder {
        font-size: 0;
      }
    }
  }
}
