.footer {
  background-color: $color-grey-hp;
  box-sizing: border-box;
  margin-top: 2.5em;
  padding: 19px 0;
  width: 100%;

  .footer--container {
    margin: 0 auto;
    max-width: $size--outer-container;
    width: 100%;
  }
}

.footer--item {
  text-align: center;

  .footer--link {
    color: $color-text-main;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $color-text-main;
    }
  }

  .divider {
    display: none;
  }
}

.footer--signature {
  color: $color-text-main;
  display: table;
  margin: 0 auto;
  width: 100%;

  .signature--text,
  .signature--image {
    display: inline-block;
    vertical-align: middle;
  }

  .signature--text {
    margin-right: 10px;
  }
}

@media all and (min-width: $tablet-breakdown) {
  .footer {

    .footer--container {
      width: 100%;
    }
  }

  .footer--item {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%;

    .footer--link {
      display: inline-block;
      margin-bottom: 0;
      width: auto;
    }

    .divider {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }

    &:last-child {
      text-align: right;
      width: 49%;
    }
  }
}
