//fonts
$font_0: hp_simplified-bold;
$font_1: hp_simplified-bold-it;
$font_2: hp_simplified-it;
$font_3: hp_simplified-light;
$font_4: hp_simplified-light-it;
$font_5: hp_simplified;

//urls
$url_0: url(../../fonts/hpsimplified_bd-webfont.eot);
$url_1: url(../../fonts/hpsimplified_bd-webfont.eot?#iefix);
$url_2: url(../../fonts/hpsimplified_bd-webfont.woff2);
$url_3: url(../../fonts/hpsimplified_bd-webfont.woff);
$url_4: url(../../fonts/hpsimplified_bd-webfont.ttf);
$url_5: url(../../fonts/hpsimplified_bd-webfont.svg#hp_simplifiedbold);
$url_6: url(../../fonts/hpsimplified_bdit-webfont.eot);
$url_7: url(../../fonts/hpsimplified_bdit-webfont.eot?#iefix);
$url_8: url(../../fonts/hpsimplified_bdit-webfont.woff2);
$url_9: url(../../fonts/hpsimplified_bdit-webfont.woff);
$url_10: url(../../fonts/hpsimplified_bdit-webfont.ttf);
$url_11: url(../../fonts/hpsimplified_bdit-webfont.svg#hp_simplifiedbold_italic);
$url_12: url(../../fonts/hpsimplified_it-webfont.eot);
$url_13: url(../../fonts/hpsimplified_it-webfont.eot?#iefix);
$url_14: url(../../fonts/hpsimplified_it-webfont.woff2);
$url_15: url(../../fonts/hpsimplified_it-webfont.woff);
$url_16: url(../../fonts/hpsimplified_it-webfont.ttf);
$url_17: url(../../fonts/hpsimplified_it-webfont.svg#hp_simplifieditalic);
$url_18: url(../../fonts/hpsimplified_lt-webfont.eot);
$url_19: url(../../fonts/hpsimplified_lt-webfont.eot?#iefix);
$url_20: url(../../fonts/hpsimplified_lt-webfont.woff2);
$url_21: url(../../fonts/hpsimplified_lt-webfont.woff);
$url_22: url(../../fonts/hpsimplified_lt-webfont.ttf);
$url_23: url(../../fonts/hpsimplified_lt-webfont.svg#hp_simplifiedlight);
$url_24: url(../../fonts/hpsimplified_ltit-webfont.eot);
$url_25: url(../../fonts/hpsimplified_ltit-webfont.eot?#iefix);
$url_26: url(../../fonts/hpsimplified_ltit-webfont.woff2);
$url_27: url(../../fonts/hpsimplified_ltit-webfont.woff);
$url_28: url(../../fonts/hpsimplified_ltit-webfont.ttf);
$url_29: url(../../fonts/hpsimplified_ltit-webfont.svg#hp_simplifiedlight_italic);
$url_30: url(../../fonts/hpsimplified_rg-webfont.eot);
$url_31: url(../../fonts/hpsimplified_rg-webfont.eot?#iefix);
$url_32: url(../../fonts/hpsimplified_rg-webfont.woff2);
$url_33: url(../../fonts/hpsimplified_rg-webfont.woff);
$url_34: url(../../fonts/hpsimplified_rg-webfont.ttf);
$url_35: url(../../fonts/hpsimplified_rg-webfont.svg#hp_simplifiedregular);

@font-face {
	font-family: $font_0;
	src: $url_0;
	src: $url_1 format('embedded-opentype'), $url_2 format('woff2'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_1;
	src: $url_6;
	src: $url_7 format('embedded-opentype'), $url_8 format('woff2'), $url_9 format('woff'), $url_10 format('truetype'), $url_11 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_2;
	src: $url_12;
	src: $url_13 format('embedded-opentype'), $url_14 format('woff2'), $url_15 format('woff'), $url_16 format('truetype'), $url_17 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_3;
	src: $url_18;
	src: $url_19 format('embedded-opentype'), $url_20 format('woff2'), $url_21 format('woff'), $url_22 format('truetype'), $url_23 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_4;
	src: $url_24;
	src: $url_25 format('embedded-opentype'), $url_26 format('woff2'), $url_27 format('woff'), $url_28 format('truetype'), $url_29 format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_5;
	src: $url_30;
	src: $url_31 format('embedded-opentype'), $url_32 format('woff2'), $url_33 format('woff'), $url_34 format('truetype'), $url_35 format('svg');
	font-weight: normal;
	font-style: normal;
}
