@mixin white-line {
  background-color: $color-white;
  border-bottom: unquote($navigation--circle-border + 'px') solid $color-grey-border-hp--3;
  border-color: $color-grey-border-hp--3;
  border-top: unquote($navigation--circle-border + 'px') solid $color-grey-border-hp--3;
  content: '';
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@mixin fill-line {
  background-color: $color-yellow-cat;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.navigation--container {
  background-color: $color-grey-hp;
  //background-color: red;
  border-bottom: 1px solid $color-grey-border-hp--1;
  border-top: 8px solid $color-yellow-dark-cat;
  box-sizing: border-box;
  padding: 16px 32px;

  ::before,
  ::after {
    margin: 0;
    padding: 0;
  }
}

.navigation {
  display: table;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 588px;
  overflow: visible;
  padding: 0;
  white-space: nowrap;
  width: 100%;

  @for $i from 1 through 10 {
    li:first-child:nth-last-child(#{$i}),
    li:first-child:nth-last-child(#{$i}) ~ li {
      width: 100% / $i;
    }
  }
}

.navigation--item {
  display: inline-block;
  font-size: $font-size;
  position: relative;

  &:first-child {

    &::before {
      @include white-line();
      left: unquote(($navigation--circle-size - 2) + 'px');
      width: calc(100% - #{unquote(($navigation--circle-size - 3) + 'px')});
    }
  }

  &:last-child {

    &::before {
      @include white-line();
      right: unquote(($navigation--circle-size - 2) + 'px');
      width: calc(100% - #{unquote(($navigation--circle-size - 3) + 'px')});
    }

    .navigation--item--circle {
      margin: 0 0 0 auto;
    }
  }

  &:not(:first-child):not(:last-child) {

    &::before {
      @include white-line();
      left: 0;
      width: calc(50% - #{unquote((($navigation--circle-size / 2) - 3) + 'px')});
    }

    &::after {
      @include white-line();
      right: 0;
      width: calc(50% - #{unquote((($navigation--circle-size / 2) - 3) + 'px')});
    }

    .navigation--item--circle {
      margin: 0 auto;
    }
  }

  .navigation--item--circle {
    background-color: $color-white;
    border: unquote($navigation--circle-border + 'px') solid $color-grey-border-hp--3;
    border-radius: 50%;
    height: $navigation--circle-size-px;
    line-height: $navigation--circle-size-px;
    position: relative;
    text-align: center;
    width: $navigation--circle-size-px;
    z-index: 1;
  }

  .navigation--item--text {
    display: none;
  }

  &.active {

    &:not(:first-child):not(:last-child) {

      .navigation--item-fill {

        &::before {
          @include fill-line();
          content: '';
          left: 0;
          width: calc(50% - #{unquote((($navigation--circle-size / 2) - 6) + 'px')});
        }
      }
    }

    .navigation--item--circle {
      color: transparent;

      &::before {
        border: 5px solid $color-yellow-cat;
        border-radius: 50%;
        content: '';
        height: 50%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        z-index: 3;
      }
    }
  }

  &.done {

    &:first-child {

      .navigation--item-fill {
        @include fill-line();
        left: unquote(($navigation--circle-size - 5) + 'px');
        width: calc(100% - #{unquote(($navigation--circle-size - 6) + 'px')});
      }
    }

    &:not(:first-child):not(:last-child) {

      .navigation--item-fill {

        &::before {
          @include fill-line();
          content: '';
          left: 0;
          width: calc(50% - #{unquote((($navigation--circle-size / 2) - 6) + 'px')});
        }

        &::after {
          @include fill-line();
          content: '';
          right: 0;
          width: calc(50% - #{unquote((($navigation--circle-size / 2) - 6) + 'px')});
        }
      }
    }

    .navigation--item--circle {
      color: transparent;

      &::before {
        background-color: $color-yellow-cat;
        background-image: url('../../img/check.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        border-radius: 50%;
        content: '';
        height: 80%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 3;
      }
    }
  }

  &.active,
  &.done {

    &:last-child {

      .navigation--item-fill {
        @include fill-line();
        right: unquote(($navigation--circle-size - 5) + 'px');
        width: calc(100% - #{unquote(($navigation--circle-size - 6) + 'px')});
      }
    }
  }
}

@media all and (min-width: $desktop-breakdown) {
  .navigation--container {
    border: 1px solid $color-grey-border-hp--1;
    min-height: 112px;
  }

  .navigation--item {

    .navigation--item--text {
      color: $color-text-placeholder;
      display: table;
      font-family: $font-family-base;
      font-size: 1.125em;
      font-weight: normal;
      left: 50%;
      position: absolute;
      top: 51px;
      transform: translateX(-50%);
    }

    &.active {

      .navigation--item--text {
        color: $color-black-header;
        font-family: $font-family-bold;
        font-weight: 700;
      }
    }

    &:first-child {

      .navigation--item--text {
        left: -80px;
        transform: none;
      }
    }

    &:last-child {

      .navigation--item--text {
        left: auto;
        right: -20px;
        transform: none;
      }
    }
  }
}
