.nps--container {
  width: 100%;

  .nps--header {
    color: $color-text-placeholder;
    font-family: $font-family-light;
    font-size: .8333333em;
    font-weight: 300;
    margin-bottom: 9px;
    overflow: visible;
    white-space: nowrap;

    .smalltext,
    .bigtext {
      display: inline-block;
      width: 50%;
    }

    .bigtext {
      text-align: right;
    }
  }

  .nps--list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.nps--item {
  display: inline-block;
  margin-bottom: 14px;
  margin-left: 9px;
  padding: 0;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  .nps--radio {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .nps--label {
    background-clip: padding-box;
    border: 1px solid $color-grey-border-hp--2;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-family: $font-family-base;
    font-size: 1.58333333333em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }

  .nps--radio:checked + .nps--label {
    background-color: $color-yellow-light-cat;
    border: 0;
    color: $color-white;
  }
}

@media all and (min-width: $tablet-breakdown) {
  .nps--container {

    .nps--header {
      font-size: 1.16666666667em;
      margin-bottom: 20px;
    }
  }

  .nps--item {
    margin-bottom: 0;
    margin-left: 10px;

    .nps--label {
      font-size: 1.25em;
      height: 43px;
      line-height: 45px;
      width: 43px;
    }
  }
}

@media all and (min-width: $tablet-breakdown) {

  .nps--item {
    margin-left: 20px;
  }
}
