.radio--container {

  .radio--item {
    margin-bottom: 30px;
    position: relative;

    .radio--input {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

.radio--label {

  .radio--mock,
  .radio--text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .radio--mock {
    background-color: $color-white;
    border: 1px solid $color-grey-border-hp--2;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    margin-right: 14px;
    max-width: 50px;
  }

  .radio--text {
    box-sizing: border-box;
    color: $color-text-placeholder;
    cursor: pointer;
    font-size: 1.3333333333333em;
    max-width: calc(100% - 70px);
  }
}

.radio--input:checked + .radio--label {

  .radio--mock {
    position: relative;

    &::before {
      background-color: $color-yellow-light-cat;
      border-radius: 50%;
      content: '';
      height: 70%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
    }
  }
}

@media all and (min-width: $tablet-breakdown) {
  .radio--container {
    display: table;
    width: 100%;

    .radio--item {
      display: block;
      float: left;
      margin-bottom: 15px;
      width: 33.3333%;
    }
  }

  .radio--label {

    .radio--mock {
      height: 32px;
      width: 32px;
    }

    .radio--text {
      color: $color-text-header;
      padding-right: 10px;
    }
  }
}
