.submit--container {
  text-align: center;
  width: 100%;

  .submit--button {
    appearance: none;
    background-color: $color-yellow-dark-cat;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-black-header;
    cursor: pointer;
    display: block;
    font-family: $font-family-bold;
    font-size: 2.666667em;
    font-weight: 700;
    outline: 0;
    padding: 40px 0;
    text-align: center;
    transition: background-color .2s ease,border .2s ease,color .2s ease,opacity .2s ease-in-out;
    width: 100%;

    &:active,
    &:hover {
      background-color: $color-yellow-dark-hover-cat;
    }
  }
}

@media all and (min-width: $tablet-breakdown) {
  .submit--container {
    margin-top: 2em;
    text-align: right;

    .submit--button {
      border-radius: 3px;
      display: inline-block;
      font-size: 1.666667em;
      max-width: 271px;
      padding: 16px 0;
    }
  }
}
