.textarea--container {
  width: 100%;

  .textarea {
    appearance: none;
    background-color: $color-white;
    border: 1px solid $color-grey-border-hp--4;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-text-main;
    font-family: $font-family-base;
    font-size: 1.16666667em;
    font-weight: 400;
    margin: 0;
    min-height: 89px;
    outline: 0;
    padding: 15px 8px;
    resize: vertical;
    width: 100%;

    &::placeholder {
      color: $color-text-main;
      font-family: $font-family-light;
      font-size: 1.16666667em;
      font-weight: 300;
    }
  }
}

@media all and (min-width: $tablet-breakdown) {
  .textarea--container {

    .textarea {
      min-height: 128px;
    }
  }
}
