.ty-image--container {
  margin-top: 15px;

  .ty--item {
    width: 100%;
  }
}

.ty--link {
  cursor: pointer;
  display: block;
  width: 100%;

  .ty--image {
    height: auto;
    width: 100%;
  }
}
