//* Etc */
$font-size: 12px;
$font-family-base: 'Roboto', sans-serif;
$font-family-light: 'Roboto', sans-serif;
$font-family-light-it: 'Roboto', sans-serif;
$font-family-bold: 'Roboto', sans-serif;
$font-family-bold-it: 'Roboto', sans-serif;

// Color
$color-black-header: #000;
$color-text-main: #606060;
$color-text-placeholder: #888;
$color-text-header: #707070;
$color-text-dark-header: #4c4c4c;
$color-blue-hp: #0096d6;
$color-blue-hover-hp: #069;
$color-blue-dark-hp: #1b5aa0;
$color-blue-exclamation-hp: #1259a1;
$color-white: #fff;
$color-yellow-hp: #ffea00;
$color-grey-hp: #fafafa;
$color-grey-border-hp--1: #dfdae0; //border on navigation
$color-grey-border-hp--2: #d9dcdc; //other border
$color-grey-border-hp--3: #d5d5d5; //other border
$color-grey-border-hp--4: #d7d7d7; //other border
$color-shadow: rgba(255, 255, 255, .75);
$color-yellow-light-cat: #fcc622;
$color-yellow-cat: #c99c15;
$color-yellow-dark-cat: #fec70b;
$color-yellow-dark-hover-cat: #e9e544;

// Sizes
$size--outer-container: 830px;
$tablet-breakdown: 768px;
$desktop-breakdown: 960px;
$navigation--circle-size: 35;
$navigation--circle-border: 1;
$navigation--circle-size-px: unquote($navigation--circle-size + 'px');
$navigation--blue-line: 5;
