@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  color: #606060;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  scroll-behavior: smooth;
  text-size-adjust: 100%; }

*::before,
*::after {
  box-sizing: initial; }

.header {
  min-height: 105px; }
  .header .header--container {
    box-sizing: border-box;
    color: #fff;
    display: table;
    margin: 0 auto;
    max-width: 830px;
    padding: 20px .5em;
    width: 100%; }
    .header .header--container .header--logo,
    .header .header--container .header--text {
      display: table-cell;
      vertical-align: middle; }
    .header .header--container .header--logo {
      background-image: url("../../img/logo.png");
      background-repeat: no-repeat;
      fill: #fff;
      height: 65px;
      width: 257px; }
    .header .header--container .header--text {
      font-family: "Roboto", sans-serif;
      font-size: 2.16667em;
      padding-left: 15px;
      width: calc(100% - 55px); }

@media all and (min-width: 960px) {
  .header .header--container {
    padding: 20px 0  30px;
    width: 100%; } }
.container {
  margin: 0 auto;
  max-width: 830px;
  width: 100%; }

.navigation--container {
  background-color: #fafafa;
  border-bottom: 1px solid #dfdae0;
  border-top: 8px solid #fec70b;
  box-sizing: border-box;
  padding: 16px 32px; }
  .navigation--container ::before,
  .navigation--container ::after {
    margin: 0;
    padding: 0; }

.navigation {
  display: table;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 588px;
  overflow: visible;
  padding: 0;
  white-space: nowrap;
  width: 100%; }
  .navigation li:first-child:nth-last-child(1),
  .navigation li:first-child:nth-last-child(1) ~ li {
    width: 100%; }
  .navigation li:first-child:nth-last-child(2),
  .navigation li:first-child:nth-last-child(2) ~ li {
    width: 50%; }
  .navigation li:first-child:nth-last-child(3),
  .navigation li:first-child:nth-last-child(3) ~ li {
    width: 33.33333%; }
  .navigation li:first-child:nth-last-child(4),
  .navigation li:first-child:nth-last-child(4) ~ li {
    width: 25%; }
  .navigation li:first-child:nth-last-child(5),
  .navigation li:first-child:nth-last-child(5) ~ li {
    width: 20%; }
  .navigation li:first-child:nth-last-child(6),
  .navigation li:first-child:nth-last-child(6) ~ li {
    width: 16.66667%; }
  .navigation li:first-child:nth-last-child(7),
  .navigation li:first-child:nth-last-child(7) ~ li {
    width: 14.28571%; }
  .navigation li:first-child:nth-last-child(8),
  .navigation li:first-child:nth-last-child(8) ~ li {
    width: 12.5%; }
  .navigation li:first-child:nth-last-child(9),
  .navigation li:first-child:nth-last-child(9) ~ li {
    width: 11.11111%; }
  .navigation li:first-child:nth-last-child(10),
  .navigation li:first-child:nth-last-child(10) ~ li {
    width: 10%; }

.navigation--item {
  display: inline-block;
  font-size: 12px;
  position: relative; }
  .navigation--item:first-child::before {
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    border-color: #d5d5d5;
    border-top: 1px solid #d5d5d5;
    content: '';
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 33px;
    width: calc(100% - 32px); }
  .navigation--item:last-child::before {
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    border-color: #d5d5d5;
    border-top: 1px solid #d5d5d5;
    content: '';
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    right: 33px;
    width: calc(100% - 32px); }
  .navigation--item:last-child .navigation--item--circle {
    margin: 0 0 0 auto; }
  .navigation--item:not(:first-child):not(:last-child)::before {
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    border-color: #d5d5d5;
    border-top: 1px solid #d5d5d5;
    content: '';
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 0;
    width: calc(50% - 14.5px); }
  .navigation--item:not(:first-child):not(:last-child)::after {
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    border-color: #d5d5d5;
    border-top: 1px solid #d5d5d5;
    content: '';
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    right: 0;
    width: calc(50% - 14.5px); }
  .navigation--item:not(:first-child):not(:last-child) .navigation--item--circle {
    margin: 0 auto; }
  .navigation--item .navigation--item--circle {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
    z-index: 1; }
  .navigation--item .navigation--item--text {
    display: none; }
  .navigation--item.active:not(:first-child):not(:last-child) .navigation--item-fill::before {
    background-color: #c99c15;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    content: '';
    left: 0;
    width: calc(50% - 11.5px); }
  .navigation--item.active .navigation--item--circle {
    color: transparent; }
    .navigation--item.active .navigation--item--circle::before {
      border: 5px solid #c99c15;
      border-radius: 50%;
      content: '';
      height: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      z-index: 3; }
  .navigation--item.done:first-child .navigation--item-fill {
    background-color: #c99c15;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    left: 30px;
    width: calc(100% - 29px); }
  .navigation--item.done:not(:first-child):not(:last-child) .navigation--item-fill::before {
    background-color: #c99c15;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    content: '';
    left: 0;
    width: calc(50% - 11.5px); }
  .navigation--item.done:not(:first-child):not(:last-child) .navigation--item-fill::after {
    background-color: #c99c15;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    content: '';
    right: 0;
    width: calc(50% - 11.5px); }
  .navigation--item.done .navigation--item--circle {
    color: transparent; }
    .navigation--item.done .navigation--item--circle::before {
      background-color: #c99c15;
      background-image: url("../../img/check.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      border-radius: 50%;
      content: '';
      height: 80%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      z-index: 3; }
  .navigation--item.active:last-child .navigation--item-fill, .navigation--item.done:last-child .navigation--item-fill {
    background-color: #c99c15;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    right: 30px;
    width: calc(100% - 29px); }

@media all and (min-width: 960px) {
  .navigation--container {
    border: 1px solid #dfdae0;
    min-height: 112px; }

  .navigation--item .navigation--item--text {
    color: #888;
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    left: 50%;
    position: absolute;
    top: 51px;
    transform: translateX(-50%); }
  .navigation--item.active .navigation--item--text {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 700; }
  .navigation--item:first-child .navigation--item--text {
    left: -80px;
    transform: none; }
  .navigation--item:last-child .navigation--item--text {
    left: auto;
    right: -20px;
    transform: none; } }
.section {
  border-top: 1px solid #d9dcdc;
  box-sizing: border-box;
  padding: 20px 15px; }
  .section .section--item {
    margin-bottom: 15px; }
    .section .section--item .section--item--header {
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 15px; }
    .section .section--item.distance--bottom > * {
      margin-bottom: 15px; }

.section--item-help-text {
  font-size: 1.125em; }
  .section--item-help-text.small {
    font-size: .833333em; }
  .section--item-help-text.right {
    text-align: right; }

.clear {
  clear: both; }

@media all and (min-width: 768px) {
  .section {
    border: 1px solid #d9dcdc;
    display: table;
    margin-top: 31px;
    width: 100%; }
    .section .section--item {
      float: left;
      margin-bottom: 0;
      width: 50%; }
      .section .section--item.full {
        float: none;
        width: 100%; }
      .section .section--item.border {
        border: 1px solid #d9dcdc;
        padding: 34px 15px; }
      .section .section--item.distance--top {
        margin-top: 31px; }
      .section .section--item.distance--bottom > * {
        margin-bottom: 30px; }
      .section .section--item.distance--bottom > *:last-child {
        margin-bottom: 0; }
      .section .section--item .section--item--header {
        font-size: 1.66666666667em; }
      .section .section--item .right-side {
        margin-left: auto;
        margin-right: 0;
        max-width: 334px; }
      .section .section--item.force-width > * {
        margin-left: auto;
        margin-right: 0;
        max-width: 355px; }

  .section--item-help-text.small {
    font-size: 1.33333em; }
  .section--item-help-text.right {
    text-align: left; } }
@media all and (min-width: 960px) {
  .section {
    padding: 33px; } }
.product--container {
  text-align: center;
  width: 100%; }
  .product--container img {
    height: auto;
    width: 100%; }

.star--container .star--container--image {
  position: relative;
  text-align: center; }
  .star--container .star--container--image .star--radio {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; }
  .star--container .star--container--image .star--image {
    background-image: url("../../img/starEmpty.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 49px;
    margin-right: 4px;
    width: 51px; }
    .star--container .star--container--image .star--image:last-of-type {
      margin-right: 0; }
    .star--container .star--container--image .star--image.star--image-fill {
      background-image: url("../../img/starFull.png"); }
.star--container .star--container--text {
  display: none; }

@media all and (min-width: 768px) {
  .star--container {
    border: 1px solid #d9dcdc;
    box-sizing: border-box;
    margin: 0 0 0 auto;
    max-width: 381px;
    overflow: visible;
    padding: 9px 20px 9px 25px;
    white-space: nowrap; }
    .star--container.no-border {
      border: 0; }
    .star--container.left {
      margin: 0;
      padding: 0; }
    .star--container .star--container--image,
    .star--container .star--container--text {
      display: inline-block;
      vertical-align: middle; }
    .star--container .star--container--image {
      text-align: left; }
      .star--container .star--container--image .star--image {
        height: 30px;
        margin-right: 15px;
        width: 31px; }
        .star--container .star--container--image .star--image:last-of-type {
          margin-right: 0; }
    .star--container .star--container--text {
      color: #4c4c4c;
      font-family: "Roboto", sans-serif;
      font-size: 2.66666667em;
      font-weight: 700;
      margin-left: 15px; } }
@media all and (min-width: 960px) {
  .star--container .star--container--text {
    margin-left: 22px; } }
.email--container {
  border: 1px solid #c99c15;
  display: none;
  margin-top: 20px;
  position: relative; }
  .email--container .email--container--header {
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    left: 50%;
    padding-left: 31px;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    width: 95%;
    z-index: 2; }
    .email--container .email--container--header::before {
      border: 1px solid #c99c15;
      border-radius: 50%;
      color: #c99c15;
      content: '!';
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      height: 24px;
      left: 0;
      line-height: 24px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 24px; }
  .email--container .email--container-content {
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 9px 15px; }
    .email--container .email--container-content .email--footer {
      color: #888;
      font-family: "Roboto", sans-serif;
      font-size: 1.33333333333em;
      font-weight: 300;
      margin-top: 21px; }

.email--input-part {
  margin-top: 16px; }
  .email--input-part:first-child {
    margin-top: 0; }
  .email--input-part .email--input-label {
    display: none; }
  .email--input-part .email--input {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    box-sizing: border-box;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 1.125em;
    outline: 0;
    padding: 20px 9px;
    width: 100%; }
    .email--input-part .email--input::placeholder {
      color: #888;
      font-family: "Roboto", sans-serif;
      font-size: 1.125em;
      font-weight: 300; }

@media all and (min-width: 768px) {
  .email--container {
    margin-top: 36px; }
    .email--container .email--container--header {
      font-size: 1.5em;
      padding-left: 40px; }
      .email--container .email--container--header::before {
        font-size: 24px;
        height: 32px;
        line-height: 32px;
        top: -5px;
        width: 32px; }
    .email--container .email--container-content {
      margin-top: 76px;
      padding: 0 50px 22px; }
      .email--container .email--container-content .email--footer {
        margin-top: 68px; }

  .email--input-part {
    overflow: visible;
    white-space: nowrap; }
    .email--input-part .email--input-label,
    .email--input-part .email--input {
      display: inline-block;
      vertical-align: middle; }
    .email--input-part .email--input-label {
      color: #606060;
      font-family: "Roboto", sans-serif;
      font-size: 1.333333em;
      font-weight: 300;
      width: calc(100% - 558px); }
    .email--input-part .email--input {
      margin-left: 30px;
      max-width: 528px; }
      .email--input-part .email--input::placeholder {
        font-size: 0; } }
.textarea--container {
  width: 100%; }
  .textarea--container .textarea {
    appearance: none;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    box-sizing: border-box;
    color: #606060;
    font-family: "Roboto", sans-serif;
    font-size: 1.16666667em;
    font-weight: 400;
    margin: 0;
    min-height: 89px;
    outline: 0;
    padding: 15px 8px;
    resize: vertical;
    width: 100%; }
    .textarea--container .textarea::placeholder {
      color: #606060;
      font-family: "Roboto", sans-serif;
      font-size: 1.16666667em;
      font-weight: 300; }

@media all and (min-width: 768px) {
  .textarea--container .textarea {
    min-height: 128px; } }
.nps--container {
  width: 100%; }
  .nps--container .nps--header {
    color: #888;
    font-family: "Roboto", sans-serif;
    font-size: .8333333em;
    font-weight: 300;
    margin-bottom: 9px;
    overflow: visible;
    white-space: nowrap; }
    .nps--container .nps--header .smalltext,
    .nps--container .nps--header .bigtext {
      display: inline-block;
      width: 50%; }
    .nps--container .nps--header .bigtext {
      text-align: right; }
  .nps--container .nps--list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }

.nps--item {
  display: inline-block;
  margin-bottom: 14px;
  margin-left: 9px;
  padding: 0;
  position: relative; }
  .nps--item:first-child {
    margin-left: 0; }
  .nps--item .nps--radio {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; }
  .nps--item .nps--label {
    background-clip: padding-box;
    border: 1px solid #d9dcdc;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.58333333333em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px; }
  .nps--item .nps--radio:checked + .nps--label {
    background-color: #fcc622;
    border: 0;
    color: #fff; }

@media all and (min-width: 768px) {
  .nps--container .nps--header {
    font-size: 1.16666666667em;
    margin-bottom: 20px; }

  .nps--item {
    margin-bottom: 0;
    margin-left: 10px; }
    .nps--item .nps--label {
      font-size: 1.25em;
      height: 43px;
      line-height: 45px;
      width: 43px; } }
@media all and (min-width: 768px) {
  .nps--item {
    margin-left: 20px; } }
.checkbox--container {
  width: 100%; }
  .checkbox--container .checkbox--item {
    margin-bottom: 30px;
    position: relative; }
    .checkbox--container .checkbox--item .checkbox--input {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -1; }

.checkbox--label .checkbox--mock,
.checkbox--label .checkbox--text {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }
.checkbox--label .checkbox--mock {
  background-color: #fff;
  border: 1px solid #d9dcdc;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin-right: 14px;
  max-width: 50px; }
.checkbox--label .checkbox--text {
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  font-size: 1.3333333333333em;
  max-width: calc(100% - 70px); }

.checkbox--input:checked + .checkbox--label .checkbox--mock {
  background-clip: padding-box;
  background-color: #fcc622;
  background-image: url("../../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 0; }

@media all and (min-width: 768px) {
  .checkbox--container {
    display: table;
    width: 100%; }
    .checkbox--container .checkbox--item {
      display: block;
      float: left;
      margin-bottom: 15px;
      width: 33.3333%; }

  .checkbox--label .checkbox--mock {
    height: 32px;
    width: 32px; }
  .checkbox--label .checkbox--text {
    color: #707070;
    padding-right: 10px; } }
.radio--container .radio--item {
  margin-bottom: 30px;
  position: relative; }
  .radio--container .radio--item .radio--input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1; }

.radio--label .radio--mock,
.radio--label .radio--text {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }
.radio--label .radio--mock {
  background-color: #fff;
  border: 1px solid #d9dcdc;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin-right: 14px;
  max-width: 50px; }
.radio--label .radio--text {
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  font-size: 1.3333333333333em;
  max-width: calc(100% - 70px); }

.radio--input:checked + .radio--label .radio--mock {
  position: relative; }
  .radio--input:checked + .radio--label .radio--mock::before {
    background-color: #fcc622;
    border-radius: 50%;
    content: '';
    height: 70%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }

@media all and (min-width: 768px) {
  .radio--container {
    display: table;
    width: 100%; }
    .radio--container .radio--item {
      display: block;
      float: left;
      margin-bottom: 15px;
      width: 33.3333%; }

  .radio--label .radio--mock {
    height: 32px;
    width: 32px; }
  .radio--label .radio--text {
    color: #707070;
    padding-right: 10px; } }
.submit--container {
  text-align: center;
  width: 100%; }
  .submit--container .submit--button {
    appearance: none;
    background-color: #fec70b;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 2.666667em;
    font-weight: 700;
    outline: 0;
    padding: 40px 0;
    text-align: center;
    transition: background-color .2s ease,border .2s ease,color .2s ease,opacity .2s ease-in-out;
    width: 100%; }
    .submit--container .submit--button:active, .submit--container .submit--button:hover {
      background-color: #e9e544; }

@media all and (min-width: 768px) {
  .submit--container {
    margin-top: 2em;
    text-align: right; }
    .submit--container .submit--button {
      border-radius: 3px;
      display: inline-block;
      font-size: 1.666667em;
      max-width: 271px;
      padding: 16px 0; } }
.ty-image--container {
  margin-top: 15px; }
  .ty-image--container .ty--item {
    width: 100%; }

.ty--link {
  cursor: pointer;
  display: block;
  width: 100%; }
  .ty--link .ty--image {
    height: auto;
    width: 100%; }

.footer {
  background-color: #fafafa;
  box-sizing: border-box;
  margin-top: 2.5em;
  padding: 19px 0;
  width: 100%; }
  .footer .footer--container {
    margin: 0 auto;
    max-width: 830px;
    width: 100%; }

.footer--item {
  text-align: center; }
  .footer--item .footer--link {
    color: #606060;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; }
    .footer--item .footer--link:hover {
      text-decoration: underline; }
    .footer--item .footer--link:visited {
      color: #606060; }
  .footer--item .divider {
    display: none; }

.footer--signature {
  color: #606060;
  display: table;
  margin: 0 auto;
  width: 100%; }
  .footer--signature .signature--text,
  .footer--signature .signature--image {
    display: inline-block;
    vertical-align: middle; }
  .footer--signature .signature--text {
    margin-right: 10px; }

@media all and (min-width: 768px) {
  .footer .footer--container {
    width: 100%; }

  .footer--item {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%; }
    .footer--item .footer--link {
      display: inline-block;
      margin-bottom: 0;
      width: auto; }
    .footer--item .divider {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
    .footer--item:last-child {
      text-align: right;
      width: 49%; } }
.preloader {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: -9999; }

/*# sourceMappingURL=app.css.map */
