
<div class="checkbox--container">
  <div class="checkbox--item">
    <input type="checkbox" value="1" name="checkbox" id="checkbox_1" class="checkbox--input"/>
    <label for="checkbox_1" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
  <div class="checkbox--item">
    <input type="checkbox" value="2" name="checkbox" id="checkbox_2" class="checkbox--input"/>
    <label for="checkbox_2" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
  <div class="checkbox--item">
    <input type="checkbox" value="3" name="checkbox" id="checkbox_3" class="checkbox--input"/>
    <label for="checkbox_3" class="checkbox--label"><span class="checkbox--mock"></span><span class="checkbox--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span></label>
  </div>
</div>