
<div class="footer">
  <div class="footer--container">
    <div class="footer--item"><a href="" class="footer--link">HOMEPAGE</a><span class="divider">|</span><a href="" class="footer--link">ALGEMENE VOORWAARDEN</a><span class="divider">|</span><a href="" class="footer--link">PRIVACY</a></div>
    <div class="footer--item">
      <div class="footer--signature">
        <div class="signature--text">powered by</div>
        <div class="signature--image"><img src="img/Logo_ekomi.png" alt="Ekomi Logo"/></div>
      </div>
    </div>
  </div>
</div>