
<div class="star--container no-border left">
  <div class="star--container--image">
    <input id="bewertung_researh_1" type="radio" name="bewertungStar_researh" value="1" class="star--radio"/>
    <label for="bewertung_researh_1" class="star--image"></label>
    <input id="bewertung_researh_2" type="radio" name="bewertungStar_researh" value="2" class="star--radio"/>
    <label for="bewertung_researh_2" class="star--image"></label>
    <input id="bewertung_researh_3" type="radio" name="bewertungStar_researh" value="3" class="star--radio"/>
    <label for="bewertung_researh_3" class="star--image"></label>
    <input id="bewertung_researh_4" type="radio" name="bewertungStar_researh" value="4" class="star--radio"/>
    <label for="bewertung_researh_4" class="star--image"></label>
    <input id="bewertung_researh_5" type="radio" name="bewertungStar_researh" value="5" class="star--radio"/>
    <label for="bewertung_researh_5" class="star--image"></label>
    <input id="bewertung_researh" type="hidden" value="0" class="bewertung"/>
  </div>
  <div class="star--container--text"><span class="changeable-text">0</span><span>/5</span></div>
</div>