
<div class="star--container">
  <div class="star--container--image">
    <input id="bewertung_1" type="radio" name="bewertungStar" value="1" class="star--radio"/>
    <label for="bewertung_1" class="star--image"></label>
    <input id="bewertung_2" type="radio" name="bewertungStar" value="2" class="star--radio"/>
    <label for="bewertung_2" class="star--image"></label>
    <input id="bewertung_3" type="radio" name="bewertungStar" value="3" class="star--radio"/>
    <label for="bewertung_3" class="star--image"></label>
    <input id="bewertung_4" type="radio" name="bewertungStar" value="4" class="star--radio"/>
    <label for="bewertung_4" class="star--image"></label>
    <input id="bewertung_5" type="radio" name="bewertungStar" value="5" class="star--radio"/>
    <label for="bewertung_5" class="star--image"></label>
    <input id="bewertung" type="hidden" value="0" name="bewertung" class="bewertung"/>
  </div>
  <div class="star--container--text"><span class="changeable-text">0</span><span>/5</span></div>
</div>