
<div class="section">
  <div class="section--item full">
    <div class="section--item--header">Bedankt voor uw tijd!</div>
    <div class="section--item-help-text">
       
      Uw feedback wordt zo spoedig mogelijk door onze onafhankelijke klantenfeedbackmanagers gecontroleerd worden. Normaal gesproken zal uw recensie binnen 24 uur worden gepubliceerd. <br/><br/>eKomi - The Feedback Company
    </div>
  </div>
  <div class="section--item full">
    <div class="ty-image--container">
      <div class="ty--item"><a href="http://www.pon-cat.com/equipment/nl/services/onderhouds-contracten/emsolutions" target="_blank" class="ty--link"><img src="img/tyImage.png" alt="EMSolutions" class="ty--image"/></a></div>
    </div>
  </div>
</div>