.section
  .section--item
    .section--item--header Hoe tevreden was u met Pon-Equipment?
    .section--item-help-text.small.right (5 sterren = zeer goed)
  .section--item
    include template/_starContainer.jade
  .clear
  .section--item.full
    include template/_emailContainer.jade
.section
  .section--item
    .section--item--header Je persoonlijke feedback
    .section--item-help-text
      | Hulpvragen:
      br
      | Geef een korte beschrijving van uw ervaring met Pon Equipment.
      br
      | Waar ben je het meest tevreden over en indien nodig, wat kan beter?
  .section--item
    include template/_textareaContainer.jade
.section
  .section--item.full
    .section--item--header NPS Question
  .section--item.full
    include template/_npsContainer.jade
include template/_submitContainer.jade
