doctype html
html(lang='en')
  head
    title <?php echo str_replace('##SHOP_NAME##', html_sanitize($shop[0]['name']), $lang['PAGE_TITLE']); ?>
    include template/_meta.jade
    link(rel='stylesheet', href='css/min/app.css')
  body
    .header
      .header--container
        .header--logo
    .container
      include template/_navigation.jade
      // include _shopReview.jade
      // include _productReview.jade
      include template/_tyContainer.jade
    include template/_footerContainer.jade
    .preloader
      img(src="img/starFull.png", alt="img/starFull.png")
      img(src="img/check.svg", alt="img/check.svg")
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='js/app.js')
